@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/*==================================
    variables
 ====================================*/
:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #b02028;
  --secondary-color: #b02028;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --primary-color-two: #b02028;
  --secondary-color-two: #12171e;
  /* --white-color: #fff; */
  --ternary-color: #f3ecec;
  --quaternary-color: #a88a96;
}
/* variables end */

html {
  scroll-behavior: smooth;
}

/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--bg-color);
}
a:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}
 /* =================================
    Floating WhatsApp Right
  ===================================   */
  .whatsapp-ico {
    fill: white;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }

  .whatsapp-ico:hover {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
  }
/*==================================
    Preloader 
 ====================================*/
.preloader {
  z-index: 9999999999 !important;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fcfcfc;
}

.preloader .loader {
  height: 70px;
  width: 70px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.preloader .loader:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  width: 100%;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  border: 1px solid var(--primary-color);
  border-top: 1px solid transparent;
  border-radius: 100%;
}

.preloader .loader .icon {
  -webkit-animation: wink 1s ease-in-out infinite alternate;
  animation: wink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*==================================
   top to arrow start
====================================*/

.top-arrow {
  padding: 1rem 0;
  width: 100%;
  position: absolute;
  /* height:1200px; */
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.arrow-up {
  width: 52px;
  height: 62px;
  background-color: rgba(210, 210, 210, 0.703);
  border-radius: 10%;
  display: block;
  line-height: 77px;
  position: fixed;
  bottom: 10%;
  right: 0.7%;
  opacity: 0;
}

.arrow-up img {
  width: 42px;
  height: auto;
  transform: rotate(-180deg);
}

.p-absolu {
  position: absolute;
  text-align: center;
  bottom: 10%;
  right: 0;
  left: 0;
  opacity: 0;
  font-weight: bold;
}
/*==================================
   navigation
 ====================================*/
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem 3.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.logo img {
  width: 50px;
}
nav h1 {
  color: var(--bg-color);
}
nav h1 sup {
  color: var(--secondary-color);
}
nav a {
  color: var(--secondary-color-two);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}
nav ul li {
  font-weight: var(--bold-font);
  padding-right: 40px;
}
.btn {
  color: var(--primary-color);
  font-weight: 600;
  padding:  3px 20px;
  border-radius:3px;
  background-color:var(--primary-color);
  color:#fff;
}
.btn:hover {
  border-bottom: 0px solid var(--secondary-color);
  color:var(--primary-color);
  background-color: white;
  transition: all 2s ease-in-out;
 }
 

/*==================================
   home section
 ====================================*/
nav .navigation .dropdown {
  position: relative;
}
nav .navigation .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--secondary-color-two);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav .navigation .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav .navigation .dropdown-content a {
  color: var(--secondary-color-two);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
nav .navigation .dropdown-content a:hover {
  background-color: #f1f1f1;
}
nav .navigation .dropdown:hover .dropdown-content {
  display: block;
}
nav .navigation .dropdown:hover .dropbtn {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}


.burger-menu {
  color: var(--secondary-color-two);
  background: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
/*==================================
   hero section
 ====================================*/

.hero-section-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background2.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slider 30s ease-in-out infinite;
  flex-direction: column;
}
.hero-section-slider h2 {
  color: var(--bg-color);
  border-bottom: 3px solid var(--secondary-color);
  text-shadow: 0 3px 2px var(--secondary-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--bolder-font);
}
.hero-section-slider h3 {
  margin-top: 50px;
  color: var(--bg-color);
  text-shadow: 0 3px 2px var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--bolder-font);
}
.hero-section-slider .hero-content::before{
  content: "";
  position: absolute;
  width: 25%;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.03);
 
}
/*==================================
   hero button
 ====================================*/
.bn13 {
  background-color: #ffffff80;
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
  margin-top: 9rem;
  font-weight: var(--bold-font);
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/*==================================
   about section
 ====================================*/
.space-about-section {
  height: 80px;
}
.about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}
.about h2 {
  text-align: center;
}
.about h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 0.4rem auto;
}

.about img {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.about p {
  color: var(--primary-color-two);
  line-height: var(--line-height);
  padding: 0.4rem;
  text-align: center;
}
/*==================================
   Why Choose Us
 ====================================*/
.space-why-choose-us-section {
  height: 80px;
}
#why-us-section {
  /* height: 100vh; */
  width: 100%;
  display: grid;
  place-items: center;
}
#why-us-section h2::after {
  content: "";
  display: block;
  width: 130px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 0.4rem auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row .section-heading {
  margin-bottom: 20px;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #b02028 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  /* color: #575a7b; */
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #fff;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
#why-us-section .icon-wrapper img {
  width: 72px;
}
@media screen and (min-width: 768px) {
  #why-us-sectionsection {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  #why-us-section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
/*==================================
    Gallery Section
 ====================================*/


.space-gallery-section {
  height: 80px;
}
.product-slider{
  box-shadow: 0 3px 5px var(--secondary-shadow);
   
}
.product-slider h1{
  text-align: center;
  font-size: 2rem;
  font-weight: var(--bold-font);
  color: var(--secondary-color-two);
  padding-top: 1rem;
  margin-bottom: 3rem;
}
.product-slider h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 0.4rem auto;
}
.gallery.mobile-screen {
  display: none;
}
/* .gallery {
  box-shadow: 0 3px 5px var(--secondary-shadow);
} */
.gallery h2 {
  text-align: center;
  padding-top: 20px;
  /* margin-bottom: 95px; */
}
.gallery h2::after {
  content: "";
  display: block;
  width: 230px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 0.4rem auto;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  /* box-shadow: 0 0 5px var(--secondary-shadow); */
}
hr{
  /* color:var(--primary-color); */
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.swiper-slide {
  display: block;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 500px;
  /* margin: 0; */
}

.swiper-slide img {
  /* display: block; */
  /* width: 100%; */
  height: 80%;
  object-fit: cover;
}
.swiper-slide img:hover{
  transform: scale(1.1)  ;
  transition: 0.5s;
  
}
 
.swiper-wrapper.mobile-screen{
  height: 450px;
}
.swiper-pagination .swiper-pagination-bullet{
  background-color: var(--secondary-color);
  width: 8px;
  height: 8px;
  margin-right: 0.5px;
    
}
.swiper-pagination.mobile-screen .swiper-pagination-bullet{
  background-color: var(--secondary-color);
  width: 8px;
  height: 8px;
  margin-right: 0.5px;
    
}
 
  
/*==================================
   footer section
 ====================================*/
.space-footer-section {
  height: 80px;
}
footer {
  box-shadow: 0 3px 5px var(--secondary-shadow);
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  left: 0;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 30%;
  background: #f12020;
  top: -10px;
  left: 0;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0px 2px;
}

.center .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 600;
  padding-left: 10px;
}
.center .content .text.phone,.center .content .text.mail{
   color:#000000
}
.center .content .phone {
  margin: 5px 0;
}
.center .content .address {
  margin-top: 10px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
footer .footer-icon {
  width: 25px;
  position: absolute;
  left: -5px;
}

.bottom center {
  margin-top: 30px;
  height: 30px;
  padding: 5px;
  font-size: 0.9375rem;
  /* background: #000000; */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
  box-shadow: 0 3px 5px var(--secondary-shadow);
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

footer .facebook {
  left: 0;
  right: 0;
  margin: 0 auto;
  /* bottom: 35px; */
}
/* footer .facebook:hover {
  background-image: url(../images/facebook-hover.png);
} */

/*==================================
   Hero section Animation
 ====================================*/

@keyframes slider {
 0%{
  background-image: url("../images/background2.webp");
 }
 33.33%{
  background-image: url("../images/background3.webp");
 }
 41.33%{
  background-image: url("../images/background-00.jpg");
 }
 100%{
  background-image: url("../images/background1.webp");
 }



}

/*==================================
   Media Query
 ====================================*/

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
@media screen and (max-width: 767px) {
  .gallery.large--screen {
    display: none;
  }
  .gallery.mobile-screen {
    display: block;
  }
  .space-footer2-section {
    height: 50px;
  }
}
@media screen and (max-width: 466px) {
  .gallery.mobile-screen .swiper-slide {
    height: 400px;
  }
  .gallery.mobile-screen .swiper-slide img {
    height: 400px;
  }
}

@media screen and (max-width: 720px) {
  /*  navigation  */
  nav {
    padding: 1.5rem 1rem;
    height: 70px;
  }
  .logo img {
    width: 50px;
  }
  nav ul {
    position: fixed;
    background-color: black;
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    padding: 30px 0px;
  }
  nav ul li {
    /* margin: 4px 8px; */
    padding: 8px 0px 0px 0px;
  }
  nav ul li a {
    color: #fff;
  }
  nav .navigation .dropdown .dropbtn {
    color: #fff;
  }
  .burger-menu {
    display: block;
  }

  /*   for showing our menu  we toggle this class to nav*/
  nav ul.show {
    transform: translateX(0);
  }
  .btn {
    color:var(--primary-color);
    background-color:#000000;
  }
 
  .btn:hover {
     
    box-shadow: none;
    color:#fff;
    background-color: #000000;
   
   }

  /*  hero section heading  */
  .hero-section h2 {
    font-size: 2rem;
    border-bottom: none;
  }
  /* img slider */

  .hero-section-slider {
    height: 90vh;
    width: 100%;
    background-image: url("../images/mobile-background-1.jpg");
    animation: slider 15s ease-in-out infinite;
  }
  .hero-section-slider .hero-content::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0);
   
  }
 

  @keyframes slider {
    0% {
      background-image: url("../images/mobile-background-1.jpg");
    }
    /* 8% {
      background-image: url("../images/mobile-background-1.jpg");
    } */
    33.33% {
      background-image: url("../images/mobile-background-3.jpg");
    }
    41.33% {
      background-image: url("../images/mobile-background-4.jpg");
    }
    100% {
      background-image: url("../images/mobile-background-1.jpg");
    }
  }

  /* about section  */
  .about {
    padding: 1rem 1.8rem;
    /* text-align: center; */
    /* padding: 1rem 6rem; */
  }
  .about p {
    text-align: justify;
    font-size: 1.2rem;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 440px) {
  /* nav */
  .hero-section-slider h2 {
    font-size: 1.8rem;
  }
  /*   footer */
  .first-part {
    flex-direction: column;
  }
}
